{% extends ':admin:base_admin.html.twig' %}

{% block title %} {{ 'app.translations'|trans }} {% endblock %}
{% block content %}

    <ul class="breadcrumb">
        <li><a href="{{ path('admin_home') }}">Home</a></li>
        <li><a href="{{ path('admin_macrocategorieMag_home') }}">{{ 'macrocategorieMag.title.plural'|trans }}</a></li>
        <li><a href="{{ path('admin_macrocategorieMag_edit', {'id':macrocategorieMag.id }) }}">{{ macrocategorieMag.name }}</a></li>
        <li class="active">{{ 'app.translations'|trans }}</li>
    </ul>

    {% include 'admin/_flashbag.html.twig' %}

    <div class="row margin-vertical-md">
        <div class="col-md-12">
            <h1 class="h-btn-line">{{ 'app.translations'|trans }}</h1>
        </div>
    </div>

    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>#</th>
            <th>{{ 'app.language'|trans }}</th>
            <th>{{ 'app.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for translation in translations %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ translation.name }}</td>
                <td>
                    {% if macrocategorieMag.locale == translation.code %}
                        <a href="{{ path('admin_macrocategorieMag_edit', {'id': macrocategorieMag.id}) }}" class="btn btn-warning btn-xs">{{ 'macrocategorieMag.edit'|trans }}</a>
                    {% else %}
                        {% set macrocategorieMag_translation = is_macrocategorieMag_translation(macrocategorieMag.locale, translation.code, macrocategorieMag.id) %}

                        {% if macrocategorieMag_translation %}
                            <a href="{{ path('admin_macrocategorieMag_translation_edit', {'idParent': macrocategorieMag.id, 'id': macrocategorieMag_translation.id, 'localeMacrocategorieMag': macrocategorieMag.locale, 'localeTranslation': translation.code} ) }}" class="btn btn-warning btn-xs">{{ 'app.translation.edit'|trans }}</a>
                        {% else %}
                            <a href="{{ path('admin_macrocategorieMag_translation_add', {'id': macrocategorieMag.id, 'localeMacrocategorieMag': macrocategorieMag.locale, 'localeTranslation': translation.code} ) }}" class="btn btn-info btn-xs">{{ 'app.translation.add'|trans }}</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
